<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="http://127.0.0.1:8000/password" method="post">
        <label for="email">email</label>
        <input name="email" type="text" id="email" placeholder="enter email here">
        <label for="old_pass">Old Password</label>
        <input type="text" name="old_pass" id="old_pass" placeholder="enter your old password here">
        <label for="new_pass">New Password</label>
        <input type="text" name="new_pass" id="new_pass" placeholder="enter your new password here">
        <input type="submit" value="submit">
    </form>
</body>
</html>