<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action= "{{ url_for('set_password', encoded_url=encoded_url) }}" method="post">
        <label for="new_pass">Old Password</label>
        <input type="text" name="new_pass" id="new_pass" placeholder="enter your new password here">
        <label for="confirm_new_pass">New Password</label>
        <input type="text" name="confirm_new_pass" id="confim_new_pass" placeholder="confirm your new password here">
        <input type="submit" value="submit">
    </form>
</body>
</html>